h1 {
  margin-bottom: 5px;
}

input[type='text'],
select,
textarea {
  border: none;
  height: 2rem;
  width: 80%;
  border-radius: 4px;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #babfc3;
  padding: 10px;
  color: #202223;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  width: 80%;
  margin-top: 20px;
}
