body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0eee9;
  align-items: center;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  justify-items: center;
  gap: 50px;
}

.App {
  padding-left: 50px;
  padding-right: 50px;
}
